{% extends 'shared/_Main.html' %}
{% load static %}
{% block content %}
<div class="preloader-outer">
    <div class="pin"></div>
    <div class="pulse"></div>
</div>
<div id="listar-wrapper" class="listar-wrapper listar-haslayout">
<main id="listar-main" class="listar-main listar-haslayout">
    <!--************************************
            Dashboard Banner Start
    *************************************-->
    <div class="listar-dashboardbanner">
        <ol class="listar-breadcrumb">
            <li><a href="javascript:void(0);">Home</a></li>
            <li class="listar-active">Users List</li>
        </ol>
        <h1>User List</h1>
        <div class="listar-description">
            <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra doloremque laudantium, totam rem aperiam</p>
        </div>
    </div>
    <!--************************************
            Dashboard Banner End
    *************************************-->
    <!--************************************
            Dashboard Content Start
    *************************************-->
    <div id="listar-content" class="listar-content">
        <form class="listar-formtheme listar-formusers">
            <fieldset>
                <table class="table listar-tableusers">
                    <thead>
                        <tr>
                            <th>Ful Name</th>
                            <th>Email</th>
                            <th>Nickname</th>
                            <th>Birthdate</th>
                            <th>Gender</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnmale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>male</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnfemale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>female</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnfemale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>female</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnfemale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>female</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnmale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>male</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnmale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>male</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnfemale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>female</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Ful Name">John Smith</td>
                            <td data-title="Email">ali@gmail.com</td>
                            <td data-title="Nickname">Johni</td>
                            <td data-title="Birthdate">12-12-1991</td>
                            <td data-title="Gender"><a class="tg-btngender tg-btnmale" href="javascript:void(0);"><i class="icon-profile-male"></i><span>male</span></a></td>
                            <td data-title="">
                                <a class="listar-btnedite" href="javascript:void(0);"><i class="icon-pencil4"></i></a>
                                <a class="listar-btndelpost" href="javascript:void(0);">x</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="listar-tablefooter">
                    <nav class="listar-pagination">
                        <ul>
                            <li class="listar-prevpage"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                            <li class="listar-active"><a href="javascript:void(0);">1</a></li>
                            <li><a href="javascript:void(0);">2</a></li>
                            <li><a href="javascript:void(0);">3</a></li>
                            <li class="listar-nextpage"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <span>Displaying 1 to 10 of 70 items</span>
                </div>
            </fieldset>
        </form>
    </div>
    <!--************************************
                Dashboard Content End
    *************************************-->
</main>
{% endblock %}