{% extends 'shared/_Main2.html' %}
{% load static %}
{% block content %}
	<div class="preloader-outer">
		<div class="pin"></div>
		<div class="pulse"></div>
	</div>
	<div id="listar-wrapper" class="listar-wrapper listar-haslayout">
	<main id="listar-main" class="listar-main listar-haslayout">
				<div class="listar-dashboardbanner">
					<ol class="listar-breadcrumb">
						<li><a href="javascript:void(0);">صفحه اصلی</a></li>
						<li class="listar-active">دیوار من</li>
					</ol>
					<h1>دیوار من</h1><br><br>
					<div class="listar-description">
						<p>جهت ثبت اگهی در وب سایت و نمایش کسب و کار خود روی لینک زیر کلیک کرده و اگهی های مورد نظر خود را ثبت نمایید</p>
					</div>
					<br><br><br><br>
					<a class="listar-btn listar-btngreen" href="advertis_register">
						<i class="icon-plus"></i>
						<span>ثبت اگهی</span>
					</a>
				</div>
	</main>
		
	</div>
{% endblock %}

