<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull_right" >
    <div class="listar-themepost listar-categorypost">
        <figure class="listar-featuredimg " >
            <a href="javascript:void(0);">
                <!-- {% if advertis.image %} -->
                <img src="{{ advertis.image.url }}" alt="image description">
                <!-- {% endif %} -->
            </a>
               
        </figure>
            <div class="advertis-overlay">
                <div class="overlay-content">
                    <h2>{{advertis.title }}</h2>
                    <h3>{{advertis.price}}تومان</h3>
                    <h4>{{advertis.description|truncatewords:10}}توضیحات</h4>
                    <!--<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>-->
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <!-- <li><a href="{{advertis.title}}">مشاهده</a></li> -->
                    <li><a href="{{advertis.get_absolute_url }}">مشاهده</a></li>
                    <!--<li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>-->
                </ul>
            </div>
    </div>
</div>

