{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
<main id="listar-main" class="listar-main listar-haslayout">
        <div class="listar-themepost listar-placespost listar-detail listar-detailvone">
           
            <figure class="listar-featuredimg"><img src="{{advertis.image.url}}" alt="image description"></figure><br>
             
            <!--   <div class="col-sm-3">
                    <div class="listar-sectiontitle">
                    {% render_partial 'advertis_categories_partial' %}
                </div>-->
              
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                   
                    <div class="listar-themetabs">
                        <ul class="listar-themetabnav" role="tablist">
                            
                            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">جزئیات</a></li> 
                            <!-- {% render_partial 'advertis_categories_partial' %} -->
                            <!--<li role="presentation"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab">قیمت</a></li>
                            <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">موقعیت</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">نظرات (5)</a></li>
                            <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">برچسب</a></li>
                            <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">گالری</a></li>-->
                        </ul>
                     
                        <div class="tab-content listar-themetabcontent">
                            
                            <div role="tabpanel" class="tab-pane active listar-overview" id="overview">
                                <div class="listar-leftbox" style="direction:rtl;margin-left:20px"></div>
                                    <h4>{{advertis.title}}</h4>
                                    <!-- <h4>{{advertis.id}}</h4> -->
                                    <h4>{{advertis.price}}نومان</h4>
                                    <p>{{advertis.description}}</p>
                                    <!-- <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                                    <p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam.</p>
                                    <p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam.</p>
                                    <p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam.</p>
                                    -->
                                </div>
                               <!-- <div class="listar-rightbox">
                                    <div class="listar-amenitiesarea">
                                        <div class="listar-title">
                                            <h3>Amenities</h3>
                                        </div>
                                        <ul class="listar-amenities">
                                            <li>Pets allowed</li>
                                            <li>Kitchen</li>
                                            <li>Internet</li>
                                            <li>Suitable for events</li>
                                            <li>Gym</li>
                                            <li>Dryer</li>
                                            <li>Hot tub</li>
                                            <li>Family/kid friendly</li>
                                            <li>Doorman</li>
                                            <li>Cable TV</li>
                                            <li>Wheelchair accessible</li>
                                            <li>Wireless Internet</li>
                                            <li>Pool</li>
                                        </ul>
                                    </div>
                                    <div class="listar-openinghoursarea">
                                        <div class="listar-title">
                                            <h3>Opening Hours</h3>
                                        </div>
                                        <ul class="listar-openinghours">
                                            <li>
                                                <span>Monday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Tuesday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Wednesday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Thursday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Friday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Saturday</span>
                                                <span>10:00 AM - 3:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Sunday</span>
                                                <span>Closed</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane listar-pricing" id="pricing">
                                <ul class="listar-prices">
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Masala Fries</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$5</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Inside Out Sandwich</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$54</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane listar-addressmaplocation" id="location">
                                <div id="listar-postlocationmap" class="listar-postlocationmap"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="reviews">
                                <ul id="listar-comments" class="listar-comments">
                                    <li>
                                        <div class="listar-comment">
                                            <div class="listar-commentauthorbox">
                                                <figure><a href="javascript:void(0);"><img src="{% static 'images/img-02.jpg'%}" alt="image description"></a></figure>
                                                <div class="listar-authorinfo">
                                                    <h3>Katie</h3>
                                                    <em>Family Vacation</em>
                                                    <span class="listar-stars"><span></span></span>
                                                </div>
                                            </div>
                                            <a class="listar-helpful" href="javascript:void(0);">
                                                <i class="icon-thumb-up2"></i>
                                                <span>Helpful</span>
                                                <span>1</span>
                                            </a>
                                            <div class="listar-commentcontent">
                                                <time datetime="2017-09-09">
                                                    <i class="icon-alarmclock"></i>
                                                    <span>January 25, 2017</span>
                                                </time>
                                                <div class="listar-description">
                                                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
                                                    <ul class="listar-authorgallery">
                                                        <li><figure><a href="{images/img-03.jpg" data-rel="prettyPhoto[userimgone]"><img src="{% static 'images/img-03.jpg'%}" alt="image description"></a></figure></li>
                                                        <li><figure><a href="images/img-04.jpg" data-rel="prettyPhoto[userimgone]"><img src="{% static 'images/img-04.jpg'%}" alt="image description"></a></figure></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-comment">
                                            <div class="listar-commentauthorbox">
                                                <figure><a href="javascript:void(0);"><img src="{% static 'images/img-02.jpg" alt="image description"></a></figure>
                                                <div class="listar-authorinfo">
                                                    <h3>Katie</h3>
                                                    <em>Family Vacation</em>
                                                    <span class="listar-stars"><span></span></span>
                                                </div>
                                            </div>
                                            <a class="listar-helpful" href="javascript:void(0);">
                                                <i class="icon-thumb-up2"></i>
                                                <span>Helpful</span>
                                            </a>
                                            <div class="listar-commentcontent">
                                                <time datetime="2017-09-09">
                                                    <i class="icon-alarmclock"></i>
                                                    <span>January 25, 2017</span>
                                                </time>
                                                <div class="listar-description">
                                                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra justo.</p>
                                                    <p>First, please don’t fall sick. However, if in case something does catchup with you, we will airlift you to hospital but your insurance will have to pay for this. Ulins aliquam massa nisl quis neque. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut liquam massa nisl quis neque.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-comment">
                                            <div class="listar-commentauthorbox">
                                                <figure><a href="javascript:void(0);"><img src="{% static 'images/img-02.jpg'%}" alt="image description"></a></figure>
                                                <div class="listar-authorinfo">
                                                    <h3>Katie</h3>
                                                    <em>Family Vacation</em>
                                                    <span class="listar-stars"><span></span></span>
                                                </div>
                                            </div>
                                            <a class="listar-helpful" href="javascript:void(0);">
                                                <i class="icon-thumb-up2"></i>
                                                <span>Helpful</span>
                                            </a>
                                            <div class="listar-commentcontent">
                                                <time datetime="2017-09-09">
                                                    <i class="icon-alarmclock"></i>
                                                    <span>January 25, 2017</span>
                                                </time>
                                                <div class="listar-description">
                                                    <p>What a magical place, even better than I imagined! Teresa and Daniella were so helpful and awesome</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-comment">
                                            <div class="listar-commentauthorbox">
                                                <figure><a href="javascript:void(0);"><img src="{% static 'images/img-02.jpg'%}" alt="image description"></a></figure>
                                                <div class="listar-authorinfo">
                                                    <h3>Katie</h3>
                                                    <em>Family Vacation</em>
                                                    <span class="listar-stars"><span></span></span>
                                                </div>
                                            </div>
                                            <a class="listar-helpful" href="javascript:void(0);">
                                                <i class="icon-thumb-up2"></i>
                                                <span>Helpful</span>
                                                <span>1</span>
                                            </a>
                                            <div class="listar-commentcontent">
                                                <time datetime="2017-09-09">
                                                    <i class="icon-alarmclock"></i>
                                                    <span>January 25, 2017</span>
                                                </time>
                                                <div class="listar-description">
                                                    <p>Very nice place</p>
                                                    <ul class="listar-authorgallery">
                                                        <li><figure><a href="images/img-04.jpg" data-rel="prettyPhoto[userimgtwo]"><img src="{% static 'images/img-04.jpg'%}" alt="image description"></a></figure></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-comment">
                                            <div class="listar-commentauthorbox">
                                                <figure><a href="javascript:void(0);"><img src="{% static 'images/img-02.jpg" alt="image description"></a></figure>
                                                <div class="listar-authorinfo">
                                                    <h3>Katie</h3>
                                                    <em>Family Vacation</em>
                                                    <span class="listar-stars"><span></span></span>
                                                </div>
                                            </div>
                                            <a class="listar-helpful" href="javascript:void(0);">
                                                <i class="icon-thumb-up2"></i>
                                                <span>Helpful</span>
                                                <span>5</span>
                                            </a>
                                            <div class="listar-commentcontent">
                                                <time datetime="2017-09-09">
                                                    <i class="icon-alarmclock"></i>
                                                    <span>January 25, 2017</span>
                                                </time>
                                                <div class="listar-description">
                                                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo First, please don’t fall sick. However, if in case something does catchup.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <nav class="listar-pagination">
                                    <ul>
                                        <li class="listar-prevpage"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                                        <li><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);">2</a></li>
                                        <li><a href="javascript:void(0);">3</a></li>
                                        <li class="listar-nextpage"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                                <div class="listar-formreviewarea">
                                    <h3>Add Review</h3>
                                    <form class="listar-formtheme listar-formaddreview">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="listar-rating">
                                                        <p>Your rating for this listing</p>
                                                        <span class="listar-stars"></span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label class="listar-fileuploadlabel" for="listar-photogallery">
                                                        <i class="icon-upload3"></i>
                                                        <span>Upload Images</span>
                                                        <input id="listar-photogallery" class="listar-fileinput" type="file" name="file">
                                                    </label>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" name="yourname" class="form-control" placeholder="Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" name="emailaddress" class="form-control" placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <span class="listar-select">
                                                            <select>
                                                                <option>Family Vacation</option>
                                                                <option>Family Vacation</option>
                                                                <option>Family Vacation</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <textarea name="review" class="form-control" placeholder="Review"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <button class="listar-btn listar-btngreen" type="button">Submit Review</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="gallery">
                                <div id="listar-postgallery" class="listar-postgallery">
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-01.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-02.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-02.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-03.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-03.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-05.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-05.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-04.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-04.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-06.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-06.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-07.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-07.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-08.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-08.jpg'%}" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-09.jpg" data-rel="prettyPhoto[gallery]"><img src="{% static 'images/gallery/img-09.jpg'%}" alt="image description"></a></figure></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
  <!--<section class="listar-sectionspace listar-bglight listar-listingvtwo listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-title">
                        <h3>Amenities</h3>
                    </div>
                    <div id="listar-relatedlistingslider" class="listar-relatedlistingslider listar-gridview owl-carousel">
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-13.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-nightlife"></i>
                                                <span>Night Life</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-14.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-tourism"></i>
                                                <span>Hotel</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-15.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-foods"></i>
                                                <span>Food and Drinks</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-13.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-nightlife"></i>
                                                <span>Night Life</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-14.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-tourism"></i>
                                                <span>Hotel</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-15.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-foods"></i>
                                                <span>Food and Drinks</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-13.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-nightlife"></i>
                                                <span>Night Life</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-14.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-tourism"></i>
                                                <span>Hotel</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="{% static 'images/post/img-15.jpg'%}" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-foods"></i>
                                                <span>Food and Drinks</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
</main>
{% endblock %}


    