{% extends 'shared/_MainLayout.html '%}
{% block content %}
<div class="listar-themetabs"><a></a>
    <ul class="listar-tabnavloginregistered" role="tablist"><a>
        <br> <br> <br>  <br> <br> <br>
    </ul>
    <div class="tab-content listar-tabcontentloginregistered">
        <h2>شماره موبایل خود را وارد نمایید </h2>

        <div role="tabpanel" class="tab-pane fade active in" id="listar-loging">
            <form class="listar-formtheme listar-formlogin" method="post">
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group listar-inputwithicon" style="margin:8px 50px 20px ;">
                        <i class="icon-profile-male"></i>
                        <input type="text" maxlength="35" name="xfield[tel]" class="form-control" placeholder="شماره تماس">
                    </div>                          
                    <button class="listar-btn listar-btngreen " onclick="location.href=/dashborad">ورود</button>
                    <br> <br> <br>  <br> <br> <br>                   
                </fieldset>
            </form>
        </div>
    </div>
</div>    

{% endblock %}