
{% load static %}
<script src="{% static 'js/vendor/jquery-library.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/mapclustering/data.json' %}"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
	<script src="{% static 'js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci' %}"></script>
	<script src="{% static 'js/mapclustering/markerclusterer.min.js' %}"></script>
	<script src="{% static 'js/mapclustering/infobox.js' %}"></script>
	<script src="{% static 'js/mapclustering/map.js' %}"></script>
	<script src="{% static 'js/ResizeSensor.js.js' %}"></script>
	<script src="{% static 'js/jquery.sticky-sidebar.js' %}"></script>
	<script src="{% static 'js/YouTubePopUp.jquery.js' %}"></script>
	<script src="{% static 'js/jquery.navhideshow.js' %}"></script>
	<script src="{% static 'js/backgroundstretch.js' %}"></script>
	<script src="{% static 'js/jquery.sticky-kit.js' %}"></script>
	<script src="{% static 'js/bootstrap-slider.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	<script src="{% static 'js/auto-complete.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	<script src="{% static 'js/scrollbar.min.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.js' %}"></script>
	<script src="{% static 'js/jquery.steps.js' %}"></script>
	<script src="{% static 'js/prettyPhoto.js' %}"></script>
	<script src="{% static 'js/raphael-min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/sortable.js' %}"></script>
	<script src="{% static 'js/countTo.js' %}"></script>
	<script src="{% static 'js/appear.js' %}"></script>
	<script src="{% static 'js/gmap3.js' %}"></script>
	<script src="{% static 'js/dev_themefunction.js' %}"></script>		
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en"></script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	
	

	