{% load static %}
<link rel="icon" href="{% static 'favicon.png' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-slider.css' %}">
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
<link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
<link rel="stylesheet" href="{% static 'css/morris.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/YouTubePopUp.css' %}">
<link rel="stylesheet" href="{% static 'css/auto-complete.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.navhideshow.css' %}">
<link rel="stylesheet" href="{% static 'css/transitions.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/color.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script> -->
